<div class="row" id="list" ng-controller="todoListController">
	<div class="col-xs-12">
		<p class="tableRow">List of toDo's ... </p>
	</div>

	<div class="col-sm-2 hidden-xs"></div>

	<div class="col-xs-12 col-sm-8" id="dataColumn">
		<table class="table table-hover" ng-hide="empty">
			<thead>
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Description</th>
					<th># of Pomodoros</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="toDo in toDoList" class="column-{{toDo.id}}" ng-mouseover="displayOptions(toDo.id)" ng-mouseleave="hideOptions(toDo.id)">
					<th scope="row">{{toDo.id}}</th>
					<td>{{toDo.title}}</td>
					<td>{{toDo.description}}</td>
					<td>{{toDo.numpomodoros}}</td>
					<td id="options">
						<a ng-click="deleteToDo(toDo.id)"><i class="fa fa-trash-o"></i></a>
						<a ng-click="openModal(toDo)"><i class="fa fa-pencil"></i></a>
					</td>
				</tr>
			</tbody>
		</table>

		<div ng-show="empty">
			<h2>None added yet ... </h2>
			<a ui-sref="home.addTodo"><i class="fa fa-plus fa-3x animated infinite bounce"></i></a>
		</div>
	</div>

	
	<div class="col-sm-2 hidden-xs"></div>

	<div>
		<script type="text/ng-template" id="myModalContent.html">
			<div class="moda-header"></div>
			<div class="modal-body">

				<form class="form-horizontal" ng-submit="addItem(item)">
					<div class="form-group">
						<label for="todoTitle" class="col-sm-2" control-label>Title</label>
						<div class="col-sm-10">
							<input ng-model="toDo.title" type="text" class="form-control" id="todoTitle" placeholder="To-do Title" value=item.title>
						</div>
					</div> <!-- ./form-group-->

					<div class="form-group">
						<label for="todoDescription" class="col-sm-2" control-label>Description (optional)</label>
						<div class="col-sm-10">
							<input ng-model="toDo.description" type="text" class="form-control" id="todoDescription" placeholder="To-do Description">
						</div>
					</div> <!-- ./form-group-->

					<div class="form-group">
						<label for="numPomodoros" class="col-sm-2" control-label>Number of Pomodoros</label>
						<div class="col-sm-10">
							<input type="number" id="numPomodoros"  min=1 max=10 ng-model="toDo.numpomodoros">
						</div>
					</div><!-- ./form-group-->

				</form>


			</div>
			<div class="modal-footer">
				
				<button class="btn btn-primary" type="button" ng-click="save()">Save</button>
				<button class="btn btn-danger" ng-click="cancel()">Close</button>
			</div>
		</script>
	</div>

</div><!-- ./row -->


