#add{
	margin-top:20px;
}

.addTodo{
	
	& > a{
		color:$light-blue;
		& > i{
			line-height:30px;
		}
	}
	& > p{
		display:inline;
		font-size:30px;
		color:$black;
	}
}

#addForm{
	margin-top:10%;
	& button{
		background-color:$dark-blue;
		color:$white;
	}
}

.my_info {
  color: #00529B;
  background-color: #BDE5F8;
}

.my_success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.my_warning {
  color: #9F6000;
  background-color: #FEEFB3;
}

.my_error {
  color: #D8000C;
  background-color: #FFBABA;
}

.my_info i, .my_success i, .my_warning i, .my_error i {
  font-size:2em;
}