#add{
	margin-top:20px;
}

.addTodo{
	
	& > a{
		color:$light-blue;
		& > i{
			line-height:30px;
		}
	}
	& > p{
		display:inline;
		font-size:30px;
		color:$black;
	}
}

#addForm{
	margin-top:10%;
	& button{
		background-color:$dark-blue;
		color:$white;
	}
}