
#landing{
	text-align:center;
	height:100vh;
}

#landingText{
	animation-delay:2s;
	font-family:Arvo;
}

.jumbotron{
	background-color:transparent!important;
}


#pomoImage{
	animation-duration:2s;
}

