

.navbar-brand{
	color:$pomoColor!important;
	font-size:30px;
}

.navbar{
	margin-bottom:0;
	background-color:$gray!important;
	&.navbar-default{
		border:none;
		border-bottom:1px solid $pomoColor;
	}
}