#list{
	margin-top:20px;
	& > div.col-xs-12 > p{
		font-size:30px;
		color:$black;
	}

	& > div#dataColumn{
		margin-top:20px;
		text-align:center;
		& > div > h2{
			color:$black;
			text-align:center;
			margin-bottom:20px;
		}
		& > div > a{
			color:$pomoColor;
		}
	}

	table > thead > tr > th{
		text-align:center;
		font-size:20px;
	}

	table > tbody > tr {
		& > td{
			font-size:16px;
			text-align:center;
		}
		& > th{
			font-size:16px;
			text-align:center;
		}

	}
}