#list{
	margin-top:20px;
	& > div.col-xs-12 > p{
		font-size:30px;
		color:$black;
	}

	& > div#dataColumn{
		margin-top:20px;
		
	}

	table > thead > tr > th{
		font-size:20px;
	}

	table > tbody > tr > td{
		font-size:16px;
	}
}